target/
.bsp/

# Metals / bloop
.metals/
.bloop/
metals.sbt
.vscode/

# Intellij
.idea/

# coursier modules built from sources by scripts/publish-local-coursier.sh
/m2-repo/

# scala-cli, when running scripts/update-coursier-version.sc
.scala-build/
